# Documentation: https://www.rubydoc.info/github/Homebrew/brew/master/Formula

class DeterministicZip < Formula
    desc "Simple (almost drop-in) replacement for zip that produces deterministic files."
    version "$version"

    on_macos do
      on_intel do
        url "https://github.com/timo-reymann/deterministic-zip/releases/download/$version/deterministic-zip_darwin-amd64"
        sha256 "$sha256_mac_amd64"
      end
      on_arm do
        url "https://github.com/timo-reymann/deterministic-zip/releases/download/$version/deterministic-zip_darwin-arm64"
        sha256 "$sha256_mac_arm64"
      end
    end

    def install
        if Hardware::CPU.arm?
            bin.install "deterministic-zip_darwin-arm64" => "deterministic-zip"
        else
            bin.install "deterministic-zip_darwin-amd64" => "deterministic-zip"
        end
    end

    test do
      system "false"
    end
  end

